<!DOCTYPE html>
<html>
<head>
	<style>{{css}}</style>
	<link rel="import" href="data:text/html;base64,PHRlbXBsYXRlIGlkPSJteS1idXR0b24tbGFyZ2UtdGVtcGxhdGUiPg0KCTwhLS0gVE9ETzogYWRk
IGxlc3MgY29tcGlsYXRpb24gZnJvbSANCm15LWJ1dHRvbi1sZXNzICh3aGljaCBjYW4gcHVsbCBp
biBmcm9tIG90aGVyIGZpbGVzKSAtLT4NCgk8c3R5bGU+DQoJKiB7DQoJCWJveC1zaGFkb3c6IDAg
MCAwIDFweCBpbnNldDsNCgkJLXdlYmtpdC11c2VyLXNlbGVjdDogbm9uZTsNCgkJLXdlYmtpdC10
YXAtaGlnaGxpZ2h0LWNvbG9yOiByZ2JhKDAsIDAsIDAsIDApOw0KCQktd2Via2l0LWZvbnQtc21v
b3RoaW5nOiBhbnRpYWxpYXNlZDsNCgl9DQoJDQoJLmJ1dHRvbi1jb250YWluZXIgew0KCQl3aWR0
aDogMTAwcHg7DQoJCWhlaWdodDogMTAwcHg7DQoJCWRpc3BsYXk6IGlubGluZS1ibG9jazsNCgkJ
cG9zaXRpb246IHJlbGF0aXZlOw0KCX0NCgkNCglidXR0b24gew0KCQl3aWR0aDogMTAwcHg7DQoJ
CWhlaWdodDogMTAwcHg7DQoJCWJvcmRlci1yYWRpdXM6IDEwMHB4Ow0KCQlmb250LXNpemU6IDJy
ZW07DQoJCWNvbG9yOiByZ2JhKDAsIDEwOSwgMjA0LCAuOTUpOw0KCQlwYWRkaW5nOiAwOw0KCQlj
dXJzb3I6IHBvaW50ZXI7DQoJCW1hcmdpbjogMDsNCgkJZm9udC1mYW1pbHk6IGlvbmljb25zOw0K
CQliYWNrZ3JvdW5kLWNvbG9yOiB0cmFuc3BhcmVudDsNCgkJdGV4dC1hbGlnbjogY2VudGVyOw0K
CQlib3gtc2l6aW5nOiBib3JkZXItYm94Ow0KCQlib3JkZXI6IDA7DQoJCWRpc3BsYXk6IGlubGlu
ZS1ibG9jazsNCgl9DQoJDQoJW2RhdGEtaXMtd2FpdGluZz0ndHJ1ZSddIHsNCgkJY29sb3I6IG9y
YW5nZTsNCgkJYm9yZGVyLWNvbG9yOiByZ2JhKDAsIDAsIDAsIDApOw0KCQlib3gtc2hhZG93OiAw
IDJweCAwIDJweCByZ2JhKDAsIDAsIDAsIC4wNSkgaW5zZXQ7DQoJCS13ZWJraXQtYW5pbWF0aW9u
LWR1cmF0aW9uOiAyLjVzOw0KCQktd2Via2l0LWFuaW1hdGlvbi1uYW1lOiByb3RhdGU7DQoJCS13
ZWJraXQtYW5pbWF0aW9uLWl0ZXJhdGlvbi1jb3VudDogaW5maW5pdGU7DQoJfQ0KCQ0KCSNmb2N1
cy1pbmRpY2F0b3Igew0KCQlwb2ludGVyLWV2ZW50czogbm9uZTsNCgkJZGlzcGxheTogaW5saW5l
LWJsb2NrOw0KCX0NCgkNCglidXR0b246ZW5hYmxlZDpmb2N1cysjZm9jdXMtaW5kaWNhdG9yOjph
ZnRlciB7DQoJCWNvbnRlbnQ6ICcgJzsNCgkJZGlzcGxheTogYmxvY2s7DQoJCWJhY2tncm91bmQt
Y29sb3I6IHRyYW5zcGFyZW50Ow0KCQlib3gtc2hhZG93OiAwIDAgMXB4IDFweCByZ2JhKDAsIDEy
MiwgMjU1LCAuMSkgaW5zZXQ7DQoJCXBvc2l0aW9uOiBhYnNvbHV0ZTsNCgkJcmlnaHQ6IC00cHg7
DQoJCWJvdHRvbTogLTRweDsNCgkJd2lkdGg6IDEwOHB4Ow0KCQloZWlnaHQ6IDEwOHB4Ow0KCQli
b3JkZXItcmFkaXVzOiAxMDhweDsNCgl9DQoJDQoJI2ljb24gew0KCQlmb250LXNpemU6IDEuMnJl
bTsNCgkJdG9wOiBjYWxjKDUwJSAtIC42cmVtKTsNCgkJcG9zaXRpb246IGFic29sdXRlOw0KCQlk
aXNwbGF5OiBpbmxpbmUtYmxvY2s7DQoJCXdpZHRoOiAxMDAlOw0KCQlsZWZ0OiAwOw0KCQlmb250
LWZhbWlseTogaGVsdmV0aWNhLXByby1saWdodDsNCgkJY29sb3I6IHJnYmEoMCwgMTIyLCAyNTUs
IDEpOw0KCQlwb2ludGVyLWV2ZW50czogbm9uZTsNCgkJbGluZS1oZWlnaHQ6IG5vcm1hbDsNCgkJ
dGV4dC1hbGlnbjogY2VudGVyOw0KCX0NCgkNCgkjaWNvbi1sb3dlciB7DQoJCWRpc3BsYXk6IG5v
bmU7DQoJCXRvcDogY2FsYygxMDAlIC0gLjY1cmVtKTsNCgkJZm9udC1zaXplOiAxLjJyZW07DQoJ
CXBvaW50ZXItZXZlbnRzOiBhdXRvOw0KCQlwb3NpdGlvbjogYWJzb2x1dGU7DQoJCWRpc3BsYXk6
IGlubGluZS1ibG9jazsNCgkJd2lkdGg6IDEwMCU7DQoJCWxlZnQ6IDA7DQoJCWZvbnQtZmFtaWx5
OiBoZWx2ZXRpY2EtcHJvLWxpZ2h0Ow0KCQljb2xvcjogcmdiYSgwLCAxMjIsIDI1NSwgMSk7DQoJ
CXBvaW50ZXItZXZlbnRzOiBub25lOw0KCQlsaW5lLWhlaWdodDogbm9ybWFsOw0KCQl0ZXh0LWFs
aWduOiBjZW50ZXI7DQoJfQ0KCQ0KCUAtd2Via2l0LWtleWZyYW1lcyByb3RhdGUgew0KCQkwJSB7
DQoJCQktd2Via2l0LXRyYW5zZm9ybTogcm90YXRlKDApOw0KCQl9DQoJCTEwMCUgew0KCQkJLXdl
YmtpdC10cmFuc2Zvcm06IHJvdGF0ZSgzNjBkZWcpOw0KCQl9DQoJfQ0KCTwvc3R5bGU+DQoJPGRp
diBjbGFzcz0iYnV0dG9uLWNvbnRhaW5lciI+DQoJCTxidXR0b24gdHlwZT0ic3VibWl0IiBpZD0i
YnV0dG9uIiB0YWJpbmRleD0iMSIgY2xhc3M9ImJ0biI+PC9idXR0b24+DQoJCTxzcGFuIGlkPSJm
b2N1cy1pbmRpY2F0b3IiPjwvc3Bhbj4NCgkJPHNwYW4gaWQ9Imljb24iPjxjb250ZW50PjwvY29u
dGVudD48L3NwYW4+DQoJCTxsYWJlbCBmb3I9ImJ1dHRvbiIgaWQ9Imljb24tbG93ZXIiPg0KCQkJ
PGNvbnRlbnQ+PC9jb250ZW50Pg0KCQk8L2xhYmVsPg0KCTwvZGl2Pg0KPC90ZW1wbGF0ZT4NCjxz
Y3JpcHQ+DQooZnVuY3Rpb24oKSB7DQoNCgl2YXIgaW1wb3J0RG9jLCBteUJ1dHRvbjsNCg0KCWlt
cG9ydERvYyA9IGRvY3VtZW50LmN1cnJlbnRTY3JpcHQub3duZXJEb2N1bWVudDsNCglteUJ1dHRv
biA9IE9iamVjdC5jcmVhdGUoSFRNTEJ1dHRvbkVsZW1lbnQucHJvdG90eXBlKTsNCg0KCW15QnV0
dG9uLmNyZWF0ZWRDYWxsYmFjayA9IGZ1bmN0aW9uKCkgew0KCQl2YXIgdGVtcGxhdGUsIHRlbXBs
YXRlQ2xvbmUsIHNoYWRvdzsNCg0KCQl0ZW1wbGF0ZSA9IGltcG9ydERvYy5xdWVyeVNlbGVjdG9y
KCcjbXktYnV0dG9uLWxhcmdlLXRlbXBsYXRlJyk7DQoJCXRlbXBsYXRlQ2xvbmUgPSBpbXBvcnRE
b2MuaW1wb3J0Tm9kZSh0ZW1wbGF0ZS5jb250ZW50LCB0cnVlKTsNCg0KCQlob3N0ID0gdGhpczsN
CgkJc2hhZG93ID0gdGhpcy5jcmVhdGVTaGFkb3dSb290KCk7DQoJCXNoYWRvdy5hcHBlbmRDaGls
ZCh0ZW1wbGF0ZUNsb25lKTsNCgl9Ow0KDQoJZG9jdW1lbnQucmVnaXN0ZXJFbGVtZW50KCdteS1i
dXR0b24nLCB7DQoJCXByb3RvdHlwZTogbXlCdXR0b24sDQoJCWV4dGVuZHM6ICdidXR0b24nDQoJ
fSk7DQoNCn0oKSk7DQo8L3NjcmlwdD4="/>
</head>
<body>
	<form name="foo" method="get" action="/foo">
		<button is="my-button" data-state="foo">CLICK ME</button>
	</form>
	<script>{{js}}</script>
</body>
</html>