body[data-modal='1'] #sign-in-modal {
    -webkit-filter: opacity(100%);
    pointer-events: auto;
    z-index: 999;
    position: fixed;

}

#sign-in-modal {
    display: inline-table; /*fixes fixed positioning issue on iOS*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    background: rgba(255, 255, 255, .97);
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
    -webkit-filter: opacity(0%);
    pointer-events: none;
    z-index: -1;
    background: transparent;
    overflow: hidden; /*important to prevent vertical scroll-bars from appearing at small vertical heights*/
}

#sign-in-modal-content {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 44%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    background: white;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
}

#sign-in-modal-container {
    vertical-align: top;
    width: 0;
    height: 100%;
    display: inline-block;
}

.sign-in {
    position: relative;
    top: 24px;
}

body:not([data-ui-mode='-1']):not([data-modal='-1']) #main-container[data-visibility-mode='2'] {
    -webkit-filter: opacity(100%) blur(5px);
    transition: -webkit-filter .1s ease-out;
}

#email, #password {
    box-sizing: border-box;
    padding-left: 100px;
}

.input-label-group {
    width: 559px;
    text-align: center;
}

#sign-in-modal-title {
    /*margin-bottom: 21px;*/
    text-align: center;
}

#sign-in-button-container {
    position: absolute;
    bottom: -32px;
    right: 51px;
}

#sign-in-button-container .button-icon {
    font-family: ionicons;
    left: 32px;
    top: 2px;
    font-size: 2.5rem;
    line-height: 100px;
    color: rgba(2, 86, 244, .1);
}

#btn-sign-in {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: helvetica-pro-light;
    line-height: 100px;
    border: 0;
}

.logo-image {
    width: 270px;
    height: 270px;
    background-image: url('../images/logo.svg');
    background-size: contain;
    -webkit-backface-visibility: hidden;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#button-close-sign-in-modal {
    font-size: 3rem;
    position: absolute;
    /*top: -60px;*/
    /*right: -60px;*/
    top: -2px;
    right: -2px;
    font-family: ionicons;
    background: transparent;
    border: 0;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    z-index: 1; /*Ensure infront of the main content of the modal.*/
}

.forgotten-password {
    display: block;
    text-align: center;
    margin-top: 42px;
}