<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../reset/third-party-reset.css" />
    <link rel="stylesheet" href="../reset/wizerati-style-reset-non-form.css" />
    <link rel="stylesheet" href="../reset/wizerati-style-reset-form.css" />
    <link rel="stylesheet" href="../vendor/lucid-style-buttons-rotating.css" />
    <link rel="stylesheet" href="../vendor/lucid-style-faces.css" />
    <link rel="stylesheet" href="./wizerati-style-items-of-interest.css" />
</head>

<body data-ui-mode="1" 
data-are-transitions-enabled="true" 
data-modal="-1" 
data-hover-is-enabled="true" 
data-is-mobile-device="false" 
data-items-of-interest-mode="0" 
class="test" style="height: 100%; position: absolute;">
    <div id="items-of-interest-panel" class="c--items-of-interest-panel">
        <div id="s-i-c-1" class="s-i-c">
            <section data-id="GUID5" class="s-i">
                <div class="s-i-content" style="width: 661px;">
                    <header class="menu-container">
                        <ul class="menu">
                            <li>
                                <form class="frm-bookmark" method="POST" action="/bookmarks/create">
                                    <input type="hidden" name="id" value="GUID5">
                                    <div class="c--r-b small">
                                        <button type="submit" id="btn-bookmark-GUID5" tabindex="1" class="btn" data-is-waiting="false" data-is-selected="false"></button>
                                        <span class="focus-indicator"></span>
                                        <span class="icon">Save</span>
                                    </div>
                                </form>
                            </li>
                                 <li>
                                <form class="frm-pin" method="POST" action="/itemsofinterest/destroy">
                                    <input type="hidden" name="id" value="GUID5">

                                    <div class="c--r-b small">
                                        <button type="submit" id="btn-pin-GUID5" tabindex="1" class="btn" data-is-waiting="false" data-is-selected="true"></button>
                                        <span class="focus-indicator"></span>
                                        <span class="icon">Compare</span>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </header>
                    <article class="i-o-i-c">
                        <div class="i-o-i-p-c">
                            <h3 class="i-o-i-t">SQL Developer - C# - Market Risk - Banking</h3>
                            <div class="summary-inline">
                                <ul class="info">
                                    <li>Posted 10 months ago</li>
                                    <li><a href="#">Hatstand Limited</a>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li>450 - 500 GBP/day</li>
                                    <li>3 months rolling</li>
                                    <li>Diekirch, <span class="country">Luxembourg</span>
                                    </li>
                                </ul>

                                <p class="skills"><code>C#</code> <code>HTML5</code> <code>ASP.NET MVC</code> <code>JavaScript</code>
                                </p>
                            </div>
                            <table class="summary-table">
                                <tbody>
                                    <tr>
                                        <td>Posted</td>
                                        <td>10 months ago</td>
                                    </tr>
                                    <tr>
                                        <td>Recruiter</td>
                                        <td>Hatstand Limited</td>
                                    </tr>
                                    <tr>
                                        <td>Rate</td>
                                        <td>450 - 500 GBP/day</td>
                                    </tr>
                                    <tr>
                                        <td>Duration</td>
                                        <td>3 months rolling</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>Diekirch, <span class="country">Luxembourg</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Skills</td>
                                        <td>
                                            <code>C#</code> <code>HTML5</code> <code>ASP.NET MVC</code> <code>JavaScript</code>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="i-o-i-p-c">
                            <div class="apply-button-container">    
                                <form method="POST" action="/applytocontractdialog/create">
                                    <input type="hidden" name="id" value="GUID5">
                                    <div class="c--r-b large">
                                        <button type="submit" id="btn-action-GUID5" tabindex="1" class="btn bordered" data-is-waiting="false" data-is-selected="false"></button>
                                        <span class="focus-indicator"></span>
                                        <span class="icon">Apply</span>
                                    </div>
                                </form>
                            </div>
                            <h4 class="no-clear">Job Description</h4>
                            <p style="height:100px;">...</p>
                            <h4>About You</h4>
                            <p style="height:100px;">...</p>
                            <h4>About Us</h4>
                            <p style="height:100px;">...</p>
                            <h4>Direct Contact</h4>
                            <p style="height:100px;">...</p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</body>
</html>