body[data-ui-mode='1'][data-are-transitions-enabled='true'] #search-form-panel-container[data-mode='0'] #search-form-panel {
    transition: -webkit-filter .2s ease-out, z-index 0 linear 0s;
}
body[data-ui-mode='1'][data-are-transitions-enabled='true'] #search-form-panel-container[data-mode='1'] #search-form-panel {
    transition: -webkit-filter .2s ease-out, z-index 0 linear .3s;
}
#search-form-panel-container[data-mode='0'] #search-form-panel {
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}
#search-form-panel-container {
    vertical-align: top;
    width: 0;
    height: 100%;
    display: inline-block;
}
#search-form-panel-container[data-mode='0'] #search-form-panel {
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}
body[data-ui-mode='1'] #search-form-panel-container[data-mode='1'] #search-form-panel {   
    -webkit-filter: opacity(0%);
    pointer-events: none;
    z-index: -1;
    /*Transition ensures this change in the z-index is not observed - it merely helps with inspecting DOM elements during development. */
}
#search-form-panel {
    z-index: 3;
    /*5=tab-bar, 4=my-account-panel 3=search-form-panel, 2=bookmarks-panel, 1=result-list-panel, 0=ioi-panel*/
}
body[data-ui-mode='0'] #search-form-panel {
    position: absolute;
    height: 310px;
    width: 500px;
    left: 50%;
    top: calc(50% - 198px); /* Empirical. */    
    margin-left: -250px; 
    text-align: center;
    background: rgba(255, 255, 255, 1);
    -webkit-backface-visibility: hidden; /* Needed? */
}
#search-form-panel hr {
    width: 335px;
    margin: 38px 0 0 145px;
}
body[data-ui-mode='0'] #search-form-panel hr {
    display: none;
}
body[data-ui-mode='1'] #search-form-panel {
    display: inline-table; /*fixes fixed positioning issue on iOS*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    background: rgba(255, 255, 255, .97);
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
}
.search-panel[data-mode='1'] #search-form-panel {
    -webkit-filter: opacity(0%);
}
.search-panel[data-mode='0'] #search-form-panel {
    -webkit-filter: opacity(100%);
}
body[data-ui-mode='1'] [data-search-form-mode='1'] #search-form-panel {
    -webkit-filter: opacity(0%);
    /*prevent it from being visible when users pull down to scroll on iOS*/
}

/*"narrow-screen" devices like iphone*/
/*media queries must be on a single lime to avoid safari bug*/
@media only screen and (max-device-width: 568px) {
    body[data-ui-mode='0'] #search-form-panel {
        box-shadow: none;
        width: 100%;
        margin-top: -185px;
        left: 0;
        margin-left: 0;
    }
}